html {
	scroll-behavior: smooth;
	overflow: scroll;
    overflow-x: hidden;
}

body {
	background-color: blue;
}

@font-face {
	font-family: 'Quicksand-Regular';
	src: url('Quicksand-Regular.woff');
}

p {
	font-family: "Quicksand-Regular";
	text-align: justify;
	padding-top: 20px;
}

#div_navbar {
	background-color: #F2F3F7;
	height: 100vh;
}

#div_content {
	background-color: white;
}

#my_pic {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

#nav_name {
	font-weight: bold;
	font-size: 22px;
	padding-bottom: 0;
	margin-bottom: 0;
	font-family: Arial;
}

#nav_job {
	text-align: center;
}

.nav_link {
	color: rgb(105, 107, 106);
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 0px;
}

.nav_link.active {
	border-bottom: 2px solid rgb(7, 120, 168);
}

.nav_link:hover {
	color: rgb(7, 120, 168);
}

.nav_link:focus {
	color: rgb(7, 120, 168);
}

.navbar-brand {
	margin-right: 0;
}

#linkedin {
	color: black;
	text-decoration: none;
}

#cv {
	color: black;
	text-decoration: none;
}

#nav_job, .nav_link, #linkedin, #cv {
	font-family: "Quicksand-Regular";
}

#about, #career, #skills, #achievements, #testimonials, #contact {
	display: none;
}